@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);


















#msg-box4-a .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-a .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-i .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-i .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-h .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-h .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-u .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-u .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-k .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-k .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-n .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-n .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-r .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-r .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-x .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-x .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-y .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-y .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
