@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);






























#msg-box4-a .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-a .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-u .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-u .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-k .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-k .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-k .lead {
  color: #000000;
}
#msg-box4-y .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-y .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-13 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-13 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-19 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-19 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-1b .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-1b .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-1d .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-1d .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-1f .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-1f .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-1h .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-1h .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-1j .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-1j .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-1l .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-1l .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-1n .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-1n .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-1p .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-1p .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-1s .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-1s .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}




























#header4-1u H1 {
  color: #000000;
}
#msg-box4-1y .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-1y .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-20 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-20 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-20 .lead {
  color: #000000;
}
#msg-box4-22 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-22 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-24 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-24 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-26 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-26 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-28 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-28 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2i .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2i .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2c .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2c .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2e .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2e .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2g .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2g .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2a .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2a .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2k .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2k .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2m .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2m .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2o .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2o .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
