@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);


#msg-box4-a .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-a .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}




























#header4-1u H1 {
  color: #000000;
}
#msg-box4-1y .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-1y .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-20 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#msg-box4-20 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-20 .lead {
  color: #000000;
}
#msg-box4-22 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-22 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-24 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-24 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-26 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-26 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-28 .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-28 .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2i .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2i .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2c .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2c .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2e .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2e .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2g .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2g .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2a .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2a .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2k .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2k .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2m .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2m .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box4-2o .lead P {
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  font-size: 20px;
}
#msg-box4-2o .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  text-align: left;
}
